main {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 2rem;
}

#country-select {
  width: 12rem;
  height: fit-content;
  padding: 0.5rem;
}

.holiday-list-loading,
.holiday-list {
  color: black;
}
